<div class="buttons d-flex justify-content-between align-items-center">
  <a routerLink="subject" class="nav-link" class="btn btn-success" role="button">View Subjects</a>
  <a routerLink="student" class="nav-link" class="btn btn-warning" role="button">View Students</a>
  <a routerLink="professor" class="nav-link" class="btn btn-info" role="button">View Professors</a>
  <a routerLink="exam" class="nav-link" class="btn btn-danger" role="button">View Exams</a>
  <a routerLink="exam-period" class="nav-link" class="btn btn-primary" role="button">View Exam Periods</a>
</div>
