<h3>List of students</h3>
<div class="table-top d-flex justify-content-between align-items-center">
  <div class="select-options">
    <span class="mr-2">Items per page:</span>
    <select [(ngModel)]="pageSize" (change)="onPageChange($event)">
      <option *ngFor="let o of options" [ngValue]="o">
        {{ o }}
      </option>
    </select>
  </div>
  <button type="button" class="btn btn-info" (click)="openNewStudentForm()">Add new student</button>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="id" (sort)="onSort($event)">Id</th>
        <th scope="col" sortable="firstName" (sort)="onSort($event)">First name</th>
        <th scope="col" sortable="lastName" (sort)="onSort($event)">Last name</th>
        <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
        <th scope="col" sortable="indexNumber" (sort)="onSort($event)">Index number</th>
        <th scope="col" sortable="indexYear" (sort)="onSort($event)">Index year</th>
        <th scope="col" sortable="indexYear" (sort)="onSort($event)">Adress</th>
        <th scope="col">Postal code</th>
        <th scope="col" sortable="currentYearOfStudy" (sort)="onSort($event)">Year of study</th>
        <th scope="col">Action</th>
        <th scope="col">Register exam</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{student.lastName}}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.indexNumber }}</td>
        <td>{{ student.indexYear }}</td>
        <td>{{ student.adress }}</td>
        <td>{{ student.city.cityCode}}</td>
        <td>{{ student.currentYearOfStudy }}</td>
        <td>
          <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-success" [routerLink]="['../student-details', student.id]">
              <i class="bi bi-eye-fill"></i> Details
            </button>
            <button class="btn btn-outline-primary" [routerLink]="['../student-form', student.id]">
              <i class="bi bi-pencil-fill"></i> Edit
            </button>
            <button class="btn btn-outline-danger" (click)="onDeleteClick(student)">
              <i class="bi bi-trash-fill"></i> Delete
            </button>
          </div>
        </td>
        <td>
          <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-warning" [routerLink]="['../student-register-form', student.id]">
              Register exam
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ngb-pagination [collectionSize]="totalItems" (pageChange)="onPageChange($event)" [(page)]="currentPage"
  [pageSize]="pageSize" [boundaryLinks]="true">
</ngb-pagination>
